# Complete-Python-Bootcamp: My "Sandbox" for the Course

### Kurssi aloitettu 16. kesäkuuta 2019

Huom: Kirjoitan näille sivuille osiokohtaisesti huomioita ja muistiinpanoja sekä erinäistä koodiprotoilua.

## 2.5. Command line

In [122]:
pwd

'/Users/jarijokela/Opiskelu/Ohjelmointi/Python/UdemyPythonBootcamp/Complete-Python-Bootcamp-master'

Takaisin ylempään kansioon: cd ..

## 2.7. Running Python Code

In [123]:
print('Aina tämä hemmetin Hello World!' + ' Keksikää jotain uutta!')

Aina tämä hemmetin Hello World! Keksikää jotain uutta!

## 3.16 String Properties

In [124]:
x = 'No morjes maailma'

In [125]:
X = x.upper()

In [126]:
X

'NO MORJES MAAILMA'

In [127]:
äx = X.lower()

In [128]:
äx

'no morjes maailma'

- split()-stringmetodi luo listan stringeistä:

In [129]:
xlist = x.split()

In [130]:
xlist

['No', 'morjes', 'maailma']

In [131]:
a = 'Hi this is a string'

In [132]:
alist = a.split()

In [133]:
alist

['Hi', 'this', 'is', 'a', 'string']

In [134]:
ailist = a.split('i')

In [135]:
ailist

['H', ' th', 's ', 's a str', 'ng']

- Printtaus:

In [136]:
print('Hello')

Hello

## 3.18. Print formating with strings

- Stringin print-formatointi .format()-metodilla:

In [137]:
print('This is a string {}.'.format('INSERTED'))

This is a string INSERTED.

In [138]:
print('The {} {} {}.'.format('fox', 'brown', 'quick'))

The fox brown quick.

In [139]:
print('The {2} {1} {0}.'.format('fox', 'brown', 'quick'))

The quick brown fox.

In [140]:
print('The {b} {q} {f}.'.format(f='fox', b='brown', q='quick'))

The brown quick fox.

- DOT format method

In [141]:
result = 100 / 777

In [142]:
result

0.1287001287001287

float formatting follows {value:width.precision f}  Esimerkiksi näin:

In [143]:
print('The result was {r:1.3f}.'.format(r=result))

The result was 0.129.

HUOMAA: width-parametri lisää vain whitespacea arvo eteen, eli aika hyödytön.

### f-string metodi:

In [144]:
name = 'Jose'

In [145]:
print('Hello, my name is {}.'.format(name))

Hello, my name is Jose.

- Vastaavasti sama f-string-metodilla toteutettuna:

In [146]:
print(f'Hello, my name is {name}.')

Hello, my name is Jose.

In [147]:
name = 'Sam'
age = 3

In [148]:
print(f'Hello, my name is {name} and I am {age} years old.')

Hello, my name is Sam and I am 3 years old.

## 3.20. Lists

In [149]:
my_list = [1, 2, 3]

In [150]:
len(my_list)

3

In [151]:
my_list[0]

1

In [152]:
my_list[1:]

[2, 3]

In [153]:
another_list = ['four', 'five', 'sixx']

In [154]:
new_list = my_list + another_list

In [155]:
new_list

[1, 2, 3, 'four', 'five', 'sixx']

In [156]:
new_list[-1] = 'six'

In [157]:
new_list

[1, 2, 3, 'four', 'five', 'six']

In [158]:
new_list.append('seven')

In [159]:
new_list

[1, 2, 3, 'four', 'five', 'six', 'seven']

In [160]:
new_list.pop()

'seven'

In [161]:
new_list

[1, 2, 3, 'four', 'five', 'six']

In [162]:
popped_item = new_list.pop()

In [163]:
popped_item

'six'

In [164]:
pop_first = new_list.pop(0)

In [165]:
pop_first

1

In [166]:
alpha_list = ['a', 'e', 'x', 'c']
num_list = [90, 6, 3, 78]

In [167]:
alpha_list.sort()

In [168]:
alpha_list

['a', 'c', 'e', 'x']

HUOMAA: sort()-metodi ei palauta mitään, joten et voi myöskään osoittaa sitä muuttujalle:

In [169]:
sorted_list = alpha_list.sort()

In [170]:
sorted_list

In [171]:
type(sorted_list)

NoneType

Ts. lista pitää ensin sortata ja vasta sen jälkeen osoittaa sortattu lista uudelle muuttujalle!!!

In [172]:
num_list.sort()
new_numl = num_list

In [173]:
new_numl

[3, 6, 78, 90]

In [174]:
new_numl.reverse()

In [175]:
new_numl

[90, 78, 6, 3]

## 3.22. Dictionaries in Python

In [176]:
my_dict = {'key1': 'value1', 'key2': 'value2'}

In [177]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [178]:
my_dict['key1']

'value1'

In [179]:
price = {'apples': 2.99, 'oranges': 1.99, 'milk': 5.99}

In [180]:
price

{'apples': 2.99, 'oranges': 1.99, 'milk': 5.99}

In [181]:
price['apples']

2.99

In [182]:
d = {'k1': 123, 'k2': [0, 1, 2], 'k3': {'key': 500}}

In [183]:
d

{'k1': 123, 'k2': [0, 1, 2], 'k3': {'key': 500}}

In [184]:
d['k2']

[0, 1, 2]

In [185]:
d['k3']['key']

500

In [186]:
dict = {'key1': ['a', 'b', 'c']}

In [187]:
dict['key1'][2].upper()

'C'

In [188]:
d1 = {'k1': 100, 'k2': 200}

In [189]:
d1['k3'] = 300

In [190]:
d1

{'k1': 100, 'k2': 200, 'k3': 300}

In [191]:
d1['k1'] = 'NEW VALUE'

In [192]:
d1

{'k1': 'NEW VALUE', 'k2': 200, 'k3': 300}

In [193]:
d2 = {'k1': 100, 'k2': 200, 'k3': 300}

In [194]:
d2.keys()

dict_keys(['k1', 'k2', 'k3'])

In [195]:
d2.values()

dict_values([100, 200, 300])

In [196]:
d2.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

## 3.24. Tuples with Python

In [197]:
t = (1, 2, 3)

In [198]:
l = [1, 2, 3]

In [199]:
type(t)

tuple

In [200]:
type(l)

list

In [201]:
len(t)

3

In [202]:
t = ('one', 2)

In [203]:
t[0]

'one'

In [204]:
t = ('a', 'a', 'b')

In [205]:
t.count('a')

2

In [206]:
t.index('a')

0

## 3.25. Sets in Python

In [207]:
myset = set()

In [208]:
myset

set()

In [209]:
myset.add(1)

In [210]:
myset

{1}

In [211]:
myset.add(2)

In [212]:
myset.add(2)

In [213]:
myset

{1, 2}

In [214]:
my_list_for_set = [1,1,1,1,1,2,2,2,2,2,3,3,3,3,3,3]

In [215]:
set(my_list_for_set)

{1, 2, 3}

## 3.26. Booleans in Python

In [216]:
1 > 2

False

## 3.27. I/O with Basic Files in Python

Tässä esimerkki tiedostoonkirjoittamisesta (uusi tiedosto on jarifile.txt):

In [217]:
%%writefile jarifile.txt
Terve,
Testailen tässä miten jarifileen kirjoittaminen
täältä notebookista onnistuu suoraan.
Tänään on 23.06.2019 klo 15:33

Overwriting jarifile.txt

In [218]:
myfile = open('jarifile.txt')

In [219]:
myfile.read()

'Terve,\nTestailen tässä miten jarifileen kirjoittaminen\ntäältä notebookista onnistuu suoraan.\nTänään on 23.06.2019 klo 15:33\n'

In [220]:
myfile.read()

''

Yllä näkyy vain tyhjä string, koska read()-metodi on jättänyt lukukursorin jarifilen loppuun joten kursori palautetaan alkuun näin:

In [221]:
myfile.seek(0)

0

In [222]:
myfile.read()

'Terve,\nTestailen tässä miten jarifileen kirjoittaminen\ntäältä notebookista onnistuu suoraan.\nTänään on 23.06.2019 klo 15:33\n'

In [223]:
myfile.seek(0)

0

Readlines() palauttaa listan jossa yksi rivi on aina yksi listan string-alkio (HUOMAA: newline-merkki vielä lopussa):

In [224]:
myfile.readlines()

['Terve,\n',
 'Testailen tässä miten jarifileen kirjoittaminen\n',
 'täältä notebookista onnistuu suoraan.\n',
 'Tänään on 23.06.2019 klo 15:33\n']

MacOS:ssä filen avaaminen tässä kansiossa: myfile = open(/Users/jarijokela/Opiskelu/Ohjelmointi/Python/UdemyPythonBootcamp/Complete-Python-Bootcamp-master/jarifile.txt)

HUOM: Muista että mikäli avaat tiedoston open()-metodilla, tulee se käytön jälkeen myöskin sulkea close()-metodilla!!!

In [225]:
with open('jarifile.txt') as my_new_file:
    contents = my_new_file.read()

TÄMÄN JÄLKEEN VOIT HUOLETTA KÄYTTÄÄ CONTENTS-MUUTTUJAA KOODISSASI.

In [226]:
contents

'Terve,\nTestailen tässä miten jarifileen kirjoittaminen\ntäältä notebookista onnistuu suoraan.\nTänään on 23.06.2019 klo 15:33\n'

In [227]:
with open('jarifile.txt',mode='r') as my_read_file:
    contents = my_read_file.read()

In [228]:
contents

'Terve,\nTestailen tässä miten jarifileen kirjoittaminen\ntäältä notebookista onnistuu suoraan.\nTänään on 23.06.2019 klo 15:33\n'

In [229]:
%%writefile my_new_file.txt
Ykkönen ensimmäisellä.
Kakkonen toisella.
Kolmonen kolmannella.

Overwriting my_new_file.txt

In [230]:
with open('my_new_file.txt',mode='r') as f:
    print(f.read())

Ykkönen ensimmäisellä.
Kakkonen toisella.
Kolmonen kolmannella.

In [231]:
with open('my_new_file.txt',mode='a') as fa:
    fa.write('\nNelonen neljännellä.')

In [232]:
with open('my_new_file.txt',mode='r') as f:
    print(f.read())

Ykkönen ensimmäisellä.
Kakkonen toisella.
Kolmonen kolmannella.

Nelonen neljännellä.

In [233]:
with open('justiinanottaw.txt',mode='w') as f:
    f.write('hölöpön pölöpön! :D .')

In [234]:
with open('justiinanottaw.txt',mode='r') as f:
    print(f.read())

hölöpön pölöpön! :D .

## 4.31. Comparison Operators in Python

In [237]:
2.0 == 2

True

## 4.32. Chaining comparison Operators in Python

In [238]:
1 < 2 and 2 < 3

True

In [239]:
100 == 1 or 2 == 2

True

In [240]:
not 1 == 2

True

## 4.33. If Elif and Else Statements in Python

In [243]:
Hungry = True
if Hungry:
    print('FEED ME!')
else:
    print('NOT HUNGRY')

FEED ME!

In [244]:
loc = 'Game'

if loc == 'Auto Shop':
    print('Cars are cool!')
elif loc == 'Bank':
    print('Money is cool!')
elif loc == 'Store':
    print('Welcome to the store!')
else:
    print('Just hanging around!')

Just hanging around!

## 4.33. For Loops in Python