# Complete-Python-Bootcamp: My "Sandbox" for the Course

### Kurssi aloitettu 16. kesäkuuta 2019

Huom: Kirjoitan näille sivuille osiokohtaisesti huomioita ja muistiinpanoja sekä erinäistä koodiprotoilua.

## 2.5. Command line

In [35]:
pwd

'/Users/jarijokela/Opiskelu/Ohjelmointi/Python/UdemyPythonBootcamp/Complete-Python-Bootcamp-master'

Takaisin ylempään kansioon: cd ..

## 2.7. Running Python Code

In [36]:
print('Aina tämä hemmetin Hello World!' + ' Keksikää jotain uutta!')

Aina tämä hemmetin Hello World! Keksikää jotain uutta!

## 3.16 String Properties

In [37]:
x = 'No morjes maailma'

In [38]:
X = x.upper()

In [39]:
X

'NO MORJES MAAILMA'

In [40]:
äx = X.lower()

In [41]:
äx

'no morjes maailma'

- split()-stringmetodi luo listan stringeistä:

In [42]:
xlist = x.split()

In [43]:
xlist

['No', 'morjes', 'maailma']

In [44]:
a = 'Hi this is a string'

In [45]:
alist = a.split()

In [46]:
alist

['Hi', 'this', 'is', 'a', 'string']

In [47]:
ailist = a.split('i')

In [48]:
ailist

['H', ' th', 's ', 's a str', 'ng']

- Printtaus:

In [49]:
print('Hello')

Hello

## 3.18. Print formating with strings

- Stringin print-formatointi .format()-metodilla:

In [50]:
print('This is a string {}.'.format('INSERTED'))

This is a string INSERTED.

In [51]:
print('The {} {} {}.'.format('fox', 'brown', 'quick'))

The fox brown quick.

In [52]:
print('The {2} {1} {0}.'.format('fox', 'brown', 'quick'))

The quick brown fox.

In [53]:
print('The {b} {q} {f}.'.format(f='fox', b='brown', q='quick'))

The brown quick fox.

- DOT format method

In [54]:
result = 100 / 777

In [55]:
result

0.1287001287001287

float formatting follows {value:width.precision f}  Esimerkiksi näin:

In [56]:
print('The result was {r:1.3f}.'.format(r=result))

The result was 0.129.

HUOMAA: width-parametri lisää vain whitespacea arvo eteen, eli aika hyödytön.

### f-string metodi:

In [57]:
name = 'Jose'

In [58]:
print('Hello, my name is {}.'.format(name))

Hello, my name is Jose.

- Vastaavasti sama f-string-metodilla toteutettuna:

In [59]:
print(f'Hello, my name is {name}.')

Hello, my name is Jose.

In [60]:
name = 'Sam'
age = 3

In [61]:
print(f'Hello, my name is {name} and I am {age} years old.')

Hello, my name is Sam and I am 3 years old.

## 3.20. Lists

In [62]:
my_list = [1, 2, 3]

In [63]:
len(my_list)

3

In [64]:
my_list[0]

1

In [65]:
my_list[1:]

[2, 3]

In [66]:
another_list = ['four', 'five', 'sixx']

In [67]:
new_list = my_list + another_list

In [68]:
new_list

[1, 2, 3, 'four', 'five', 'sixx']

In [69]:
new_list[-1] = 'six'

In [70]:
new_list

[1, 2, 3, 'four', 'five', 'six']

In [71]:
new_list.append('seven')

In [72]:
new_list

[1, 2, 3, 'four', 'five', 'six', 'seven']

In [73]:
new_list.pop()

'seven'

In [74]:
new_list

[1, 2, 3, 'four', 'five', 'six']

In [75]:
popped_item = new_list.pop()

In [76]:
popped_item

'six'

In [77]:
pop_first = new_list.pop(0)

In [78]:
pop_first

1

In [79]:
alpha_list = ['a', 'e', 'x', 'c']
num_list = [90, 6, 3, 78]

In [80]:
alpha_list.sort()

In [81]:
alpha_list

['a', 'c', 'e', 'x']

HUOMAA: sort()-metodi ei palauta mitään, joten et voi myöskään osoittaa sitä muuttujalle:

In [82]:
sorted_list = alpha_list.sort()

In [83]:
sorted_list

In [84]:
type(sorted_list)

NoneType

Ts. lista pitää ensin sortata ja vasta sen jälkeen osoittaa sortattu lista uudelle muuttujalle!!!

In [85]:
num_list.sort()
new_numl = num_list

In [86]:
new_numl

[3, 6, 78, 90]

In [87]:
new_numl.reverse()

In [88]:
new_numl

[90, 78, 6, 3]

## 3.22. Dictionaries in Python

In [89]:
my_dict = {'key1': 'value1', 'key2': 'value2'}

In [90]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [91]:
my_dict['key1']

'value1'

In [92]:
price = {'apples': 2.99, 'oranges': 1.99, 'milk': 5.99}

In [93]:
price

{'apples': 2.99, 'oranges': 1.99, 'milk': 5.99}

In [94]:
price['apples']

2.99

In [95]:
d = {'k1': 123, 'k2': [0, 1, 2], 'k3': {'key': 500}}

In [96]:
d

{'k1': 123, 'k2': [0, 1, 2], 'k3': {'key': 500}}

In [97]:
d['k2']

[0, 1, 2]

In [98]:
d['k3']['key']

500

In [99]:
dict = {'key1': ['a', 'b', 'c']}

In [100]:
dict['key1'][2].upper()

'C'

In [101]:
d1 = {'k1': 100, 'k2': 200}

In [102]:
d1['k3'] = 300

In [103]:
d1

{'k1': 100, 'k2': 200, 'k3': 300}

In [104]:
d1['k1'] = 'NEW VALUE'

In [105]:
d1

{'k1': 'NEW VALUE', 'k2': 200, 'k3': 300}

In [106]:
d2 = {'k1': 100, 'k2': 200, 'k3': 300}

In [107]:
d2.keys()

dict_keys(['k1', 'k2', 'k3'])

In [108]:
d2.values()

dict_values([100, 200, 300])

In [109]:
d2.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

## 3.24. Tuples with Python

In [110]:
t = (1, 2, 3)

In [111]:
l = [1, 2, 3]

In [112]:
type(t)

tuple

In [113]:
type(l)

list

In [114]:
len(t)

3

In [115]:
t = ('one', 2)

In [116]:
t[0]

'one'

In [117]:
t = ('a', 'a', 'b')

In [118]:
t.count('a')

2

In [119]:
t.index('a')

0

## 3.25. Sets in Python

In [120]:
myset = set()

In [121]:
myset

set()

In [122]:
myset.add(1)

In [123]:
myset

{1}

In [124]:
myset.add(2)

In [125]:
myset.add(2)

In [126]:
myset

{1, 2}

In [127]:
my_list_for_set = [1,1,1,1,1,2,2,2,2,2,3,3,3,3,3,3]

In [128]:
set(my_list_for_set)

{1, 2, 3}

## 3.26. Booleans in Python

In [129]:
1 > 2

False

## 3.27. I/O with Basic Files in Python

Tässä esimerkki tiedostoonkirjoittamisesta (uusi tiedosto on jarifile.txt):

In [130]:
%%writefile jarifile.txt
Terve,
Testailen tässä miten jarifileen kirjoittaminen
täältä notebookista onnistuu suoraan.
Tänään on 23.06.2019 klo 15:33

Overwriting jarifile.txt

In [131]:
myfile = open('jarifile.txt')

In [132]:
myfile.read()

'Terve,\nTestailen tässä miten jarifileen kirjoittaminen\ntäältä notebookista onnistuu suoraan.\nTänään on 23.06.2019 klo 15:33\n'

In [133]:
myfile.read()

''

Yllä näkyy vain tyhjä string, koska read()-metodi on jättänyt lukukursorin jarifilen loppuun joten kursori palautetaan alkuun näin:

In [134]:
myfile.seek(0)

0

In [135]:
myfile.read()

'Terve,\nTestailen tässä miten jarifileen kirjoittaminen\ntäältä notebookista onnistuu suoraan.\nTänään on 23.06.2019 klo 15:33\n'

In [136]:
myfile.seek(0)

0

Readlines() palauttaa listan jossa yksi rivi on aina yksi listan string-alkio (HUOMAA: newline-merkki vielä lopussa):

In [137]:
myfile.readlines()

['Terve,\n',
 'Testailen tässä miten jarifileen kirjoittaminen\n',
 'täältä notebookista onnistuu suoraan.\n',
 'Tänään on 23.06.2019 klo 15:33\n']

MacOS:ssä filen avaaminen tässä kansiossa: myfile = open(/Users/jarijokela/Opiskelu/Ohjelmointi/Python/UdemyPythonBootcamp/Complete-Python-Bootcamp-master/jarifile.txt)

HUOM: Muista että mikäli avaat tiedoston open()-metodilla, tulee se käytön jälkeen myöskin sulkea close()-metodilla!!!

In [138]:
with open('jarifile.txt') as my_new_file:
    contents = my_new_file.read()

TÄMÄN JÄLKEEN VOIT HUOLETTA KÄYTTÄÄ CONTENTS-MUUTTUJAA KOODISSASI.

In [139]:
contents

'Terve,\nTestailen tässä miten jarifileen kirjoittaminen\ntäältä notebookista onnistuu suoraan.\nTänään on 23.06.2019 klo 15:33\n'

In [140]:
with open('jarifile.txt',mode='r') as my_read_file:
    contents = my_read_file.read()

In [141]:
contents

'Terve,\nTestailen tässä miten jarifileen kirjoittaminen\ntäältä notebookista onnistuu suoraan.\nTänään on 23.06.2019 klo 15:33\n'

In [142]:
%%writefile my_new_file.txt
Ykkönen ensimmäisellä.
Kakkonen toisella.
Kolmonen kolmannella.

Overwriting my_new_file.txt

In [143]:
with open('my_new_file.txt',mode='r') as f:
    print(f.read())

Ykkönen ensimmäisellä.
Kakkonen toisella.
Kolmonen kolmannella.

In [144]:
with open('my_new_file.txt',mode='a') as fa:
    fa.write('\nNelonen neljännellä.')

In [145]:
with open('my_new_file.txt',mode='r') as f:
    print(f.read())

Ykkönen ensimmäisellä.
Kakkonen toisella.
Kolmonen kolmannella.

Nelonen neljännellä.

In [146]:
with open('justiinanottaw.txt',mode='w') as f:
    f.write('hölöpön pölöpön! :D .')

In [147]:
with open('justiinanottaw.txt',mode='r') as f:
    print(f.read())

hölöpön pölöpön! :D .

## 4.31. Comparison Operators in Python

In [148]:
2.0 == 2

True

## 4.32. Chaining comparison Operators in Python

In [149]:
1 < 2 and 2 < 3

True

In [150]:
100 == 1 or 2 == 2

True

In [151]:
not 1 == 2

True

## 5.33. If Elif and Else Statements in Python

In [152]:
Hungry = True
if Hungry:
    print('FEED ME!')
else:
    print('NOT HUNGRY')

FEED ME!

In [153]:
loc = 'Game'

if loc == 'Auto Shop':
    print('Cars are cool!')
elif loc == 'Bank':
    print('Money is cool!')
elif loc == 'Store':
    print('Welcome to the store!')
else:
    print('Just hanging around!')

Just hanging around!

## 5.34. For Loops in Python

In [154]:
mylist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [155]:
for i in mylist:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [156]:
for i in mylist:
    if i % 2 == 0:
        print(f'Even number: {i}')
    else:
        print(f'Odd number: {i}')

Odd number: 1
Even number: 2
Odd number: 3
Even number: 4
Odd number: 5
Even number: 6
Odd number: 7
Even number: 8
Odd number: 9
Even number: 10

In [157]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    
print(list_sum)

55

In [158]:
for _ in 'Terve':
    print(_)

T
e
r
v
e

In [159]:
tup = (1, 2, 3)

for i in tup:
    print(i)

1
2
3

In [160]:
# Unpacking tuple:
mylist = [(1, 2), (3, 4), (5, 6), (7, 8)]
len(mylist)

4

In [161]:
for a, b in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [162]:
mylist1 = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [163]:
for i in mylist1:
    print(i)

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)

In [164]:
for a, b, c in mylist1:
    print(a)
    print(b)
    print(c)

1
2
3
4
5
6
7
8
9

In [165]:
d = {'k1': 1, 'k2': 2, 'k3': 3}

for key,value in d.items():
    print(key)
    print(value)

k1
1
k2
2
k3
3

In [166]:
for value in d.values():
    print(value)

1
2
3

## 5.35. While Loops in Python

In [167]:
x = 0

while x < 5:
    print(f'The current value of x is {x}')
    x += 1
else:
    print('x is not less than 5')

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
x is not less than 5

In [168]:
ax = [1, 2, 3]

for _ in ax:
    pass

print('End of my script.')

End of my script.

In [169]:
mstring = 'Jari'

for letter in mstring:
    if letter == 'a':
        continue
    print(letter)

J
r
i

In [170]:
for letter in mstring:
    if letter == 'a':
        break
    print(letter)

J

In [171]:
x = 0;

while x < 5:
    if x == 3:
        break
    print(x)
    x += 1

0
1
2

## 5.36. Useful operators in Python

In [172]:
mylist2 = [1, 2, 3]

In [173]:
for num in range(0,11,2):
    print(num, end='')

0246810

In [174]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [175]:
index_count = 0

for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count, letter))
    index_count +=1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [176]:
# enumerate()-metodi tekee index countin lueteltaville objekteille (word) tuplen muodossa:
word = 'abcde'
for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [177]:
# Tuple unpacking:
word = 'abcde'
for index, letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [178]:
# zip()-funktio:
mythislist = [1, 2, 3, 4, 5]
mythatlist = ['a', 'b', 'c', 'd', 'e']
mythoselist = [100, 200, 300, 400, 500]

for item in zip(mythislist, mythatlist, mythoselist):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)
(4, 'd', 400)
(5, 'e', 500)

In [179]:
list(zip(mythislist, mythatlist, mythoselist))

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300), (4, 'd', 400), (5, 'e', 500)]

In [180]:
# in-funktio:
'x' in mythatlist

False

In [181]:
'a' in mythatlist

True

In [182]:
'a' in 'Jari'

True

In [183]:
'mykey' in {'mykey': 345}

True

In [184]:
d = {'mykey': 345}

345 in d.values()

True

In [185]:
numlist = [10, 20, 30, 40, 100]

In [186]:
min(numlist)

10

In [187]:
max(numlist)

100

In [188]:
from random import shuffle

In [189]:
shuffle(numlist)

In [190]:
numlist

[30, 40, 20, 10, 100]

In [191]:
from random import randint

In [192]:
randint(0,100)

4

In [193]:
result = int(input('Favourite number: '))

Favourite number:  42

In [194]:
result

42

## 5.37. List Comprehensions in Python

In [195]:
mystring = 'hello'

In [196]:
# Listan teko stringistä option 1:
mylist = []


for letter in mystring:
    mylist.append(letter)

In [197]:
mylist

['h', 'e', 'l', 'l', 'o']

In [198]:
# List comprehension. Listan teko stringistä option 2:
mylist = [letter for letter in mystring]

In [199]:
mylist

['h', 'e', 'l', 'l', 'o']

In [200]:
mywordlist = [x for x in 'word']

In [201]:
mywordlist

['w', 'o', 'r', 'd']

In [202]:
mynumlist = [num for num in range(1, 11)]

In [203]:
mynumlist

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [204]:
# Iteroitavaa muuttujaa voi käsitellä aivan samoin kuin loop-muuttujaa muutenkin:
mysquarelist = [num ** 2 for num in range(1, 11)]

In [205]:
mysquarelist

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [206]:
# Iteroitavaa muuttujaa voi lisätä myös if-ehtolauseke:
myevenlist = [num for num in range(1, 11) if num % 2 == 0]

In [207]:
myevenlist

[2, 4, 6, 8, 10]

In [208]:
celsius = [0, 10, 20, 34.5]

fahrenheit = [((9/5) * temp + 32) for temp in celsius]

In [209]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [210]:
# Vastaava For-looppina:

fahrloop = []

for temp in celsius:
    fahrloop.append((9/5) * temp + 32)

In [211]:
fahrloop

[32.0, 50.0, 68.0, 94.1]

In [212]:
# Nested for-loops:

nestforloop = []

for x in [2, 4, 6]:
    for y in [1, 100, 1000]:
        nestforloop.append(x*y)

In [213]:
nestforloop

[2, 200, 2000, 4, 400, 4000, 6, 600, 6000]

In [214]:
# Vastaava list comprehensionina:

lcnestforloop = [x*y for x in [2, 4, 6] for y in [1, 100, 1000]]

In [215]:
lcnestforloop

[2, 200, 2000, 4, 400, 4000, 6, 600, 6000]

## 6.40. Methods and the Python Documentation

In [1]:
mylist = [1, 2, 3]

In [2]:
help(mylist.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

## 6.41. Functions in Python

In [15]:
def name_function(name='NAME'):
    """
    DOCSTRING: INFORMATION ABOUT THE FUNCTION
    INPUT: No input
    OUTPUT: Hello
    """
    print('Hello ' + name)

In [18]:
name_function()

Hello NAME

In [19]:
help(name_function)

Help on function name_function in module __main__:

name_function(name='NAME')
    DOCSTRING: INFORMATION ABOUT THE FUNCTION
    INPUT: No input
    OUTPUT: Hello

In [20]:
name_function('Jose')

Hello Jose

In [21]:
result = name_function('Jose')

Hello Jose

In [23]:
# Print funktio on None type koska se ei palauta mitään:
type(result)

NoneType

In [24]:
# Tämä palauttaa:
def add(n1,n2):
    return n1+n2

In [26]:
result1 = add(20,30)
result1

50

HUOM: FUNKTIOIDEN TEHTÄVÄ ON POHJIMMILTAAN RATKAISTA ONGELMIA. ESIM.:

In [31]:
# Tämä on aloittelijamainen koska in-lause on jo boolean. Etsi sanaa "dog" stringistä:
def dog_check(s):
    if 'dog' in s.lower():
        return True
    else:
        return False

In [30]:
dog_check('Dog ran away')

True

In [32]:
'dog' in 'dog run away'

True

In [36]:
# Yksinkertaistettu versio ylläolevasta:

def dogshortcheck(s):
    return 'dog' in s.lower()

In [37]:
dogshortcheck('Dog ran away')

True

In [38]:
def pig_latin(word):
    
    first_letter = word[0]
    
    # Check if 1st letter vowel
    if first_letter in 'aeiou':
        pig_word = word + 'ay'
    # Check if 1st letter consonant
    else:
        pig_word = word[1:] + first_letter + 'ay'
    
    return pig_word

In [40]:
pig_latin('jari')

'arijay'

In [41]:
pig_latin('apple')

'appleay'

## 6.43. *args and **kwargs in Python

In [7]:
# Positional arguments: a=40 ja b=60, joka tarvitsee yhtä monta parametria kuin syötettä:
def myfunc(a,b):
    # Returns 5% of the sum of a and b
    return sum((a,b)) * 0.05

In [6]:
myfunc(40,60)

5.0

In [8]:
# *args:ia parametrinä käytettäessä voi käyttää loputtomasti parametrejä funktiolle:

def myfunk(*args):
    return sum(args) * 0.05

In [9]:
myfunk(40, 60, 100, 100, 1, 34)

16.75

In [10]:
# *args on käytännössä tuple
def myfuk(*args):
    print(args)

In [11]:
myfuk(40, 60, 100, 100, 1, 34)

(40, 60, 100, 100, 1, 34)

In [12]:
def myfu(*args):
    for item in args:
        print(item)

In [13]:
myfu(40, 60, 100, 100, 1, 34)

40
60
100
100
1
34

In [5]:
# **kwargs rakentaa parametriksi dictionaryn key-value-pareista:
def mykwfunc(**kwargs):
    print(kwargs)
    if 'fruit' in kwargs:
        print('My fruit of choice is {}'.format(kwargs['fruit']))
    else:
        print('I did not find any fruit in here')

In [6]:
# Tästä seuraa seuraavaa:
mykwfunc(fruit='apple', veggie='lettuce')

{'fruit': 'apple', 'veggie': 'lettuce'}
My fruit of choice is apple

In [10]:
# Voi myös käyttää parametrina sekä *args että **kwargs:
def mykwa(*args, **kwargs):
    print(args)
    print(kwargs)
    print('I would like {} {}'.format(args[0], kwargs['food']))

In [11]:
mykwa(10,20,30, fruit='orange', food='eggs', animal='giraffe')

(10, 20, 30)
{'fruit': 'orange', 'food': 'eggs', 'animal': 'giraffe'}
I would like 10 eggs