# Complete-Python-Bootcamp: My "Sandbox" for the Course

### Kurssi aloitettu 16. kesäkuuta 2019

Huom: Kirjoitan näille sivuille osiokohtaisesti huomioita ja muistiinpanoja sekä erinäistä koodiprotoilua.

## 2.5. Command line

In [10]:
pwd

'/Users/jarijokela/Opiskelu/Ohjelmointi/Python/UdemyPythonBootcamp/Complete-Python-Bootcamp-master'

Takaisin ylempään kansioon: cd ..

## 2.7. Running Python Code

In [11]:
print('Aina tämä hemmetin Hello World!' + ' Keksikää jotain uutta!')

Aina tämä hemmetin Hello World! Keksikää jotain uutta!

## 3.16 String Properties

In [12]:
x = 'No morjes maailma'

In [13]:
X = x.upper()

In [14]:
X

'NO MORJES MAAILMA'

In [15]:
äx = X.lower()

In [16]:
äx

'no morjes maailma'

- split()-stringmetodi luo listan stringeistä:

In [17]:
xlist = x.split()

In [18]:
xlist

['No', 'morjes', 'maailma']

In [19]:
a = 'Hi this is a string'

In [20]:
alist = a.split()

In [21]:
alist

['Hi', 'this', 'is', 'a', 'string']

In [22]:
ailist = a.split('i')

In [23]:
ailist

['H', ' th', 's ', 's a str', 'ng']

- Printtaus:

In [24]:
print('Hello')

Hello

## 3.18. Print formating with strings

- Stringin print-formatointi .format()-metodilla:

In [25]:
print('This is a string {}.'.format('INSERTED'))

This is a string INSERTED.

In [26]:
print('The {} {} {}.'.format('fox', 'brown', 'quick'))

The fox brown quick.

In [27]:
print('The {2} {1} {0}.'.format('fox', 'brown', 'quick'))

The quick brown fox.

In [28]:
print('The {b} {q} {f}.'.format(f='fox', b='brown', q='quick'))

The brown quick fox.

- DOT format method

In [29]:
result = 100 / 777

In [30]:
result

0.1287001287001287

float formatting follows {value:width.precision f}  Esimerkiksi näin:

In [31]:
print('The result was {r:1.3f}.'.format(r=result))

The result was 0.129.

HUOMAA: width-parametri lisää vain whitespacea arvo eteen, eli aika hyödytön.

### f-string metodi:

In [32]:
name = 'Jose'

In [33]:
print('Hello, my name is {}.'.format(name))

Hello, my name is Jose.

- Vastaavasti sama f-string-metodilla toteutettuna:

In [34]:
print(f'Hello, my name is {name}.')

Hello, my name is Jose.

In [35]:
name = 'Sam'
age = 3

In [36]:
print(f'Hello, my name is {name} and I am {age} years old.')

Hello, my name is Sam and I am 3 years old.

## 3.20. Lists

In [37]:
my_list = [1, 2, 3]

In [38]:
len(my_list)

3

In [39]:
my_list[0]

1

In [40]:
my_list[1:]

[2, 3]

In [41]:
another_list = ['four', 'five', 'sixx']

In [42]:
new_list = my_list + another_list

In [43]:
new_list

[1, 2, 3, 'four', 'five', 'sixx']

In [44]:
new_list[-1] = 'six'

In [45]:
new_list

[1, 2, 3, 'four', 'five', 'six']

In [46]:
new_list.append('seven')

In [47]:
new_list

[1, 2, 3, 'four', 'five', 'six', 'seven']

In [48]:
new_list.pop()

'seven'

In [49]:
new_list

[1, 2, 3, 'four', 'five', 'six']

In [50]:
popped_item = new_list.pop()

In [51]:
popped_item

'six'

In [52]:
pop_first = new_list.pop(0)

In [53]:
pop_first

1

In [54]:
alpha_list = ['a', 'e', 'x', 'c']
num_list = [90, 6, 3, 78]

In [55]:
alpha_list.sort()

In [56]:
alpha_list

['a', 'c', 'e', 'x']

HUOMAA: sort()-metodi ei palauta mitään, joten et voi myöskään osoittaa sitä muuttujalle:

In [57]:
sorted_list = alpha_list.sort()

In [58]:
sorted_list

In [59]:
type(sorted_list)

NoneType

Ts. lista pitää ensin sortata ja vasta sen jälkeen osoittaa sortattu lista uudelle muuttujalle!!!

In [60]:
num_list.sort()
new_numl = num_list

In [61]:
new_numl

[3, 6, 78, 90]

In [62]:
new_numl.reverse()

In [63]:
new_numl

[90, 78, 6, 3]

## 3.22. Dictionaries in Python

In [64]:
my_dict = {'key1': 'value1', 'key2': 'value2'}

In [65]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [66]:
my_dict['key1']

'value1'

In [67]:
price = {'apples': 2.99, 'oranges': 1.99, 'milk': 5.99}

In [68]:
price

{'apples': 2.99, 'oranges': 1.99, 'milk': 5.99}

In [69]:
price['apples']

2.99

In [70]:
d = {'k1': 123, 'k2': [0, 1, 2], 'k3': {'key': 500}}

In [71]:
d

{'k1': 123, 'k2': [0, 1, 2], 'k3': {'key': 500}}

In [72]:
d['k2']

[0, 1, 2]

In [73]:
d['k3']['key']

500

In [74]:
dict = {'key1': ['a', 'b', 'c']}

In [75]:
dict['key1'][2].upper()

'C'

In [76]:
d1 = {'k1': 100, 'k2': 200}

In [77]:
d1['k3'] = 300

In [78]:
d1

{'k1': 100, 'k2': 200, 'k3': 300}

In [79]:
d1['k1'] = 'NEW VALUE'

In [80]:
d1

{'k1': 'NEW VALUE', 'k2': 200, 'k3': 300}

In [81]:
d2 = {'k1': 100, 'k2': 200, 'k3': 300}

In [82]:
d2.keys()

dict_keys(['k1', 'k2', 'k3'])

In [83]:
d2.values()

dict_values([100, 200, 300])

In [84]:
d2.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

## 3.24. Tuples with Python

In [85]:
t = (1, 2, 3)

In [86]:
l = [1, 2, 3]

In [87]:
type(t)

tuple

In [88]:
type(l)

list

In [89]:
len(t)

3

In [90]:
t = ('one', 2)

In [91]:
t[0]

'one'

In [92]:
t = ('a', 'a', 'b')

In [93]:
t.count('a')

2

In [94]:
t.index('a')

0

## 3.25. Sets in Python

In [95]:
myset = set()

In [96]:
myset

set()

In [97]:
myset.add(1)

In [98]:
myset

{1}

In [99]:
myset.add(2)

In [100]:
myset.add(2)

In [101]:
myset

{1, 2}

In [102]:
my_list_for_set = [1,1,1,1,1,2,2,2,2,2,3,3,3,3,3,3]

In [103]:
set(my_list_for_set)

{1, 2, 3}

## 3.26. Booleans in Python

In [104]:
1 > 2

False

## 3.27. I/O with Basic Files in Python