# Complete-Python-Bootcamp: My "Sandbox" for the Course

### Kurssi aloitettu 16. kesäkuuta 2019

Huom: Kirjoitan näille sivuille osiokohtaisesti huomioita ja muistiinpanoja sekä erinäistä koodiprotoilua.

## 2.5. Command line

In [1]:
pwd

'/Users/jarijokela/Opiskelu/Ohjelmointi/Python/UdemyPythonBootcamp/Complete-Python-Bootcamp-master'

Takaisin ylempään kansioon: cd ..

## 2.7. Running Python Code

In [2]:
print('Aina tämä hemmetin Hello World!' + ' Keksikää viddu jotain uutta!!!')

Aina tämä hemmetin Hello World! Keksikää viddu jotain uutta!!!

## 3.16 String Properties

In [6]:
x = 'No morjesta taas maailma!!!'

In [7]:
X = x.upper()

In [8]:
X

'NO MORJESTA TAAS MAAILMA!!!'

In [9]:
äx = X.lower()

In [10]:
äx

'no morjesta taas maailma!!!'

- split()-stringmetodi luo listan stringeistä:

In [11]:
xlist = x.split()

In [12]:
xlist

['No', 'morjesta', 'taas', 'maailma!!!']

In [13]:
a = 'Hi this is a string'

In [14]:
alist = a.split()

In [15]:
alist

['Hi', 'this', 'is', 'a', 'string']

In [16]:
ailist = a.split('i')

In [17]:
ailist

['H', ' th', 's ', 's a str', 'ng']

- Printtaus:

In [16]:
print('Helloprintti')

Helloprintti

## 3.18. Print formating with strings

- Stringin print-formatointi .format()-metodilla:

In [17]:
print('This is a string {}.'.format('INSERTED TO THE END'))

This is a string INSERTED TO THE END.

In [18]:
print('The {} {} {} {}.'.format('fox', 'brown', 'quick', 'clever'))

The fox brown quick clever.

In [19]:
print('The {3} {2} {1} {0}.'.format('fox', 'brown', 'quick', 'clever'))

The clever quick brown fox.

In [20]:
print('The {c} {b} {q} {f}.'.format(f='fox', b='brown', q='quick', c='clever'))

The clever brown quick fox.

- DOT format method

In [21]:
result = 100 / 666

In [22]:
result

0.15015015015015015

float formatting follows {value:width.precision f}  Esimerkiksi näin:

In [23]:
print('The result was {r:1.9f}.'.format(r=result))

The result was 0.150150150.

HUOMAA: width-parametri lisää vain whitespacea arvo eteen, eli aika hyödytön.

### f-string metodi:

In [24]:
name = 'Jallu'

In [25]:
print('Hello, my name is {}.'.format(name))

Hello, my name is Jallu.

- Vastaavasti sama f-string-metodilla toteutettuna:

In [26]:
print(f'Hello, my name is {name}.')

Hello, my name is Jallu.

In [27]:
name = 'Hjalmari Ilmari'
age = 53

In [28]:
print(f'Hello, my name is {name} and I am {age} years old.')

Hello, my name is Hjalmari Ilmari and I am 53 years old.

## 3.20. Lists

In [29]:
my_list = [1, 2, 3]

In [30]:
len(my_list)

3

In [31]:
my_list[2]

3

In [32]:
my_list[1:]

[2, 3]

In [33]:
another_list = ['four', 'five', 'sixx']

In [34]:
new_list = my_list + another_list

In [35]:
new_list

[1, 2, 3, 'four', 'five', 'sixx']

In [36]:
new_list[-1] = 'six'

In [37]:
new_list

[1, 2, 3, 'four', 'five', 'six']

In [38]:
new_list.append('seven')

In [39]:
new_list

[1, 2, 3, 'four', 'five', 'six', 'seven']

In [40]:
new_list.pop()

'seven'

In [41]:
new_list

[1, 2, 3, 'four', 'five', 'six']

In [42]:
popped_item = new_list.pop()

In [43]:
popped_item

'six'

In [44]:
pop_first = new_list.pop(0)

In [45]:
pop_first

1

In [46]:
alpha_list = ['a', 'e', 'x', 'b']
num_list = [90, 6, 3, 78]

In [47]:
alpha_list.sort()

In [48]:
alpha_list

['a', 'b', 'e', 'x']

HUOMAA: sort()-metodi ei palauta mitään, joten et voi myöskään osoittaa sitä muuttujalle:

In [49]:
sorted_list = alpha_list.sort()

In [50]:
sorted_list

In [51]:
type(sorted_list)

NoneType

Ts. lista pitää ensin sortata ja vasta sen jälkeen osoittaa sortattu lista uudelle muuttujalle!!!

In [52]:
num_list.sort()
new_numl = num_list

In [53]:
new_numl

[3, 6, 78, 90]

In [54]:
new_numl.reverse()

In [55]:
new_numl

[90, 78, 6, 3]

## 3.22. Dictionaries in Python

In [56]:
my_dict = {'key1': 'value1', 'key2': 'value2'}

In [57]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [58]:
my_dict['key1']

'value1'

In [59]:
price = {'apples': 1.99, 'oranges': 0.99, 'milk': 2.99}

In [60]:
price

{'apples': 1.99, 'oranges': 0.99, 'milk': 2.99}

In [61]:
price['apples']

1.99

In [62]:
d = {'k1': 123, 'k2': [0, 1, 2], 'k3': {'key': 500}}

In [63]:
d

{'k1': 123, 'k2': [0, 1, 2], 'k3': {'key': 500}}

In [64]:
d['k2']

[0, 1, 2]

In [65]:
d['k3']['key']

500

In [66]:
dict = {'key1': ['a', 'b', 'c']}

In [67]:
dict['key1'][2].upper()

'C'

In [68]:
d1 = {'k1': 100, 'k2': 200}

In [69]:
d1['k3'] = 300

In [70]:
d1

{'k1': 100, 'k2': 200, 'k3': 300}

In [71]:
d1['k1'] = 'NEW VALUE'

In [72]:
d1

{'k1': 'NEW VALUE', 'k2': 200, 'k3': 300}

In [73]:
d2 = {'k1': 100, 'k2': 200, 'k3': 300}

In [74]:
d2.keys()

dict_keys(['k1', 'k2', 'k3'])

In [75]:
d2.values()

dict_values([100, 200, 300])

In [76]:
d2.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

## 3.24. Tuples with Python

In [77]:
t = (1, 2, 3)

In [78]:
l = [1, 2, 3]

In [79]:
type(t)

tuple

In [80]:
type(l)

list

In [81]:
len(t)

3

In [82]:
t = ('one', 2)

In [83]:
t[0]

'one'

In [84]:
t = ('a', 'a', 'b')

In [85]:
t.count('a')

2

In [86]:
t.index('a')

0

## 3.25. Sets in Python

In [87]:
myset = set()

In [88]:
myset

set()

In [89]:
myset.add(1)

In [90]:
myset

{1}

In [91]:
myset.add(2)

In [92]:
myset.add(2)

In [93]:
myset

{1, 2}

In [94]:
my_list_for_set = [1,1,1,1,1,2,2,2,2,2,3,3,3,3,3,3]

In [95]:
set(my_list_for_set)

{1, 2, 3}

In [96]:
!which python3

/Users/jarijokela/anaconda3/bin/python3

In [97]:
!python3 --version

Python 3.7.5

## 3.26. Booleans in Python

In [98]:
1 > 2

False

## 3.27. I/O with Basic Files in Python

Tässä esimerkki tiedostoonkirjoittamisesta (uusi tiedosto on jarifile.txt):

In [18]:
%%writefile jallufile20.txt
Terve,
Testailen tässä miten jallufileen kirjoittaminen
täältä notebookista onnistuu suoraan.
Tänään on 29.03.2019 klo 21:43

Writing jallufile20.txt

In [19]:
myfile = open('jallufile20.txt')

In [20]:
myfile.read()

'Terve,\nTestailen tässä miten jallufileen kirjoittaminen\ntäältä notebookista onnistuu suoraan.\nTänään on 29.03.2019 klo 21:43\n'

In [21]:
myfile.read()

''

Yllä näkyy vain tyhjä string, koska read()-metodi on jättänyt lukukursorin jarifilen loppuun joten kursori palautetaan alkuun näin:

In [22]:
myfile.seek(0)

0

In [23]:
myfile.read()

'Terve,\nTestailen tässä miten jallufileen kirjoittaminen\ntäältä notebookista onnistuu suoraan.\nTänään on 29.03.2019 klo 21:43\n'

In [25]:
myfile.seek(0)

0

Readlines() palauttaa listan jossa yksi rivi on aina yksi listan string-alkio (HUOMAA: newline-merkki vielä lopussa):

In [26]:
myfile.readlines()

['Terve,\n',
 'Testailen tässä miten jallufileen kirjoittaminen\n',
 'täältä notebookista onnistuu suoraan.\n',
 'Tänään on 29.03.2019 klo 21:43\n']

MacOS:ssä filen avaaminen tässä kansiossa: myfile = open(/Users/jarijokela/Opiskelu/Ohjelmointi/Python/UdemyPythonBootcamp/Complete-Python-Bootcamp-master/jarifile.txt)

HUOM: Muista että mikäli avaat tiedoston open()-metodilla, tulee se käytön jälkeen myöskin sulkea close()-metodilla!!!

In [27]:
with open('jallufile20.txt') as my_new_file:
    contents = my_new_file.read()

TÄMÄN JÄLKEEN VOIT HUOLETTA KÄYTTÄÄ CONTENTS-MUUTTUJAA KOODISSASI.

In [28]:
contents

'Terve,\nTestailen tässä miten jallufileen kirjoittaminen\ntäältä notebookista onnistuu suoraan.\nTänään on 29.03.2019 klo 21:43\n'

In [109]:
with open('jallufile.txt',mode='r') as my_read_file:
    contents = my_read_file.read()

In [110]:
contents

'Terve,\nTestailen tässä miten jallufileen kirjoittaminen\ntäältä notebookista onnistuu suoraan.\nTänään on 31.10.2019 klo 20:58\n'

In [111]:
%%writefile my_new_file.txt
Ykkönen ensimmäisellä.
Kakkonen toisella.
Kolmonen kolmannella.

Overwriting my_new_file.txt

In [112]:
with open('my_new_file.txt',mode='r') as f:
    print(f.read())

Ykkönen ensimmäisellä.
Kakkonen toisella.
Kolmonen kolmannella.

In [113]:
with open('my_new_file.txt',mode='a') as fa:
    fa.write('\nNelonen neljännellä.')

In [114]:
with open('my_new_file.txt',mode='r') as f:
    print(f.read())

Ykkönen ensimmäisellä.
Kakkonen toisella.
Kolmonen kolmannella.

Nelonen neljännellä.

In [115]:
with open('justiinanottaw.txt',mode='w') as f:
    f.write('hölöpön pölöpön! :D .')

In [116]:
with open('justiinanottaw.txt',mode='r') as f:
    print(f.read())

hölöpön pölöpön! :D .

## 4.31. Comparison Operators in Python

In [117]:
2.0 == 2

True

## 4.32. Chaining comparison Operators in Python

In [118]:
1 < 2 and 2 < 3

True

In [119]:
100 == 1 or 2 == 2

True

In [120]:
not 1 == 2

True

## 5.33. If Elif and Else Statements in Python

In [1]:
Hungry = True
if Hungry:
    print('FEED ME!')
else:
    print('NOT HUNGRY')

FEED ME!

In [2]:
loc = 'Game'

if loc == 'Auto Shop':
    print('Cars are cool!')
elif loc == 'Bank':
    print('Money is cool!')
elif loc == 'Store':
    print('Welcome to the store!')
else:
    print('Just hanging around!')

Just hanging around!

## 5.34. For Loops in Python

In [29]:
mylist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [30]:
for i in mylist:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [31]:
for i in mylist:
    if i % 2 == 0:
        print(f'Even number: {i}')
    else:
        print(f'Odd number: {i}')

Odd number: 1
Even number: 2
Odd number: 3
Even number: 4
Odd number: 5
Even number: 6
Odd number: 7
Even number: 8
Odd number: 9
Even number: 10

In [32]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    
print(list_sum)

55

Tämä osoittaa että loop-muuttujan muodolla ei ole mitään merkitystä:

In [33]:
for _ in 'Terve':
    print(_)

T
e
r
v
e

In [34]:
tup = (1, 2, 3)

for i in tup:
    print(i)

1
2
3

In [35]:
# Unpacking tuple:
mylistt = [(1, 2), (3, 4), (5, 6), (7, 8)]
len(mylistt)

4

In [36]:
for a, b in mylistt: # silmukkamuuttujia on 2 kuten tuplen alkioita yhdessä lista-alkiossa.
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [37]:
mylist1 = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [38]:
for i in mylist1: # Tässä ei tuplea pureta
    print(i)

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)

In [39]:
for a, b, c in mylist1: # Tässä tuple puretaan
    print(a)
    print(b)
    print(c)

1
2
3
4
5
6
7
8
9

In [1]:
d = {'k1': 1, 'k2': 2, 'k3': 3}

for key,value in d.items(): # Tässä puretaan sanakirja, koska sekä key että value ovat silmukkamuuttujina.
    print(key)
    print(value)

k1
1
k2
2
k3
3

In [41]:
for value in d.values(): # Tässä vain value silmukkamuuttujana.
    print(value)

1
2
3

## 5.35. While Loops in Python

In [3]:
x = -1

while x < 5:
    print(f'The current value of x is {x}')
    x += 1
else:
    print('x is not less than 5')

The current value of x is -1
The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
x is not less than 5

In [5]:
ax = [1, 2, 3]

for _ in ax:
    pass

print('End of my script.')

End of my script.

In [2]:
mstring = 'Hjalamari'

for letter in mstring: # Ehtolausekkeen continue-komennon takia hyppää a:n yli
    if letter == 'a':
        continue
    print(letter)

H
j
l
m
r
i

In [3]:
for letter in mstring:# Ehtolausekkeen break-komennon takia lopettaa a:han
    if letter == 'a':
        break
    print(letter)

H
j

In [4]:
x = 0;

while x < 5:
    if x == 3:# Ehtolausekkeen break-komennon takia lopettaa tulostuksen 3:een.
        break
    print(x)
    x += 1

0
1
2

## 5.36. Useful operators in Python

In [1]:
mylist2 = [1, 2, 3]

In [2]:
for num in range(0,11,2): # 0:sta 10 2 välein
    print(num, end='') # poistaa rivinvaihdot

0246810

In [4]:
list(range(0,11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
index_count = 0

for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count, letter))
    index_count +=1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [6]:
# enumerate()-metodi tekee index countin lueteltaville objekteille (word) tuplen muodossa:
word = 'abcde'
for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [8]:
# Tuple unpacking:
word = 'abcde'
for index, letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [9]:
# zip()-funktio:
mythislist = [1, 2, 3, 4, 5]
mythatlist = ['a', 'b', 'c', 'd', 'e']
mythoselist = [100, 200, 300, 400, 500]

for item in zip(mythislist, mythatlist, mythoselist): # zip liittää tulpeiksi 3 listan alkiot erikseen.
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)
(4, 'd', 400)
(5, 'e', 500)

In [10]:
list(zip(mythislist, mythatlist, mythoselist))

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300), (4, 'd', 400), (5, 'e', 500)]

In [11]:
# in-funktio:
'x' in mythatlist

False

In [12]:
'a' in mythatlist

True

In [13]:
'a' in 'Jari'

True

In [14]:
'mykey' in {'mykey': 345}

True

In [15]:
d = {'mykey': 345}

345 in d.values()

True

In [18]:
numlist = [10, 20, 30, 40, 100]

In [19]:
min(numlist)

10

In [20]:
max(numlist)

100

In [21]:
from random import shuffle

In [22]:
shuffle(numlist)

In [23]:
numlist

[100, 30, 40, 10, 20]

In [25]:
from random import randint

In [27]:
randint(0,100)

83

In [28]:
result = int(input('Favourite number: '))

Favourite number:  42

In [29]:
result

42

In [30]:
type(result)

int

## 5.37. List Comprehensions in Python

In [1]:
mystring = 'kitarasoolo'

In [2]:
# Listan teko stringistä option 1:
mylist = []


for letter in mystring:
    mylist.append(letter)

In [3]:
mylist

['k', 'i', 't', 'a', 'r', 'a', 's', 'o', 'o', 'l', 'o']

In [4]:
# List comprehension. Listan teko stringistä option 2:
mylistc = [letter for letter in mystring]

In [5]:
mylistc

['k', 'i', 't', 'a', 'r', 'a', 's', 'o', 'o', 'l', 'o']

In [8]:
mywordlist = [x for x in 'coronahöpötys']

In [9]:
mywordlist

['c', 'o', 'r', 'o', 'n', 'a', 'h', 'ö', 'p', 'ö', 't', 'y', 's']

In [10]:
mynumlist = [num for num in range(0, 11)]

In [11]:
mynumlist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [14]:
# Iteroitavaa muuttujaa voi käsitellä aivan samoin kuin loop-muuttujaa muutenkin:
mysquarelist = [num ** 2 for num in range(1, 11)]

In [15]:
mysquarelist

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [16]:
# Iteroitavaa muuttujaa voi lisätä myös if-ehtolauseke:
myevenlist = [num for num in range(1, 11) if num % 2 == 0]

In [17]:
myevenlist

[2, 4, 6, 8, 10]

In [26]:
hopo = [h for h in 'hessu']

In [27]:
hopo

['h', 'e', 's', 's', 'u']

In [18]:
celsius = [0, 10, 20, 34.5]

fahrenheit = [((9/5) * temp + 32) for temp in celsius]

In [19]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [20]:
# Vastaava For-looppina:

fahrloop = []

for temp in celsius:
    fahrloop.append((9/5) * temp + 32)

In [21]:
fahrloop

[32.0, 50.0, 68.0, 94.1]

In [22]:
# Nested for-loops:

nestforloop = []

for x in [2, 4, 6]:
    for y in [1, 100, 1000]:
        nestforloop.append(x*y)

In [23]:
nestforloop

[2, 200, 2000, 4, 400, 4000, 6, 600, 6000]

In [24]:
# Vastaava list comprehensionina:

lcnestforloop = [x*y for x in [2, 4, 6] for y in [1, 100, 1000]]

In [28]:
lcnestforloop

[2, 200, 2000, 4, 400, 4000, 6, 600, 6000]

## 6.40. Methods and the Python Documentation

In [1]:
mylist = [1, 2, 3]

In [ ]:
mylist. #TAB-näppäintä painamalla näet käytössäolevat metodit

In [3]:
help(mylist.insert) #Toinen vaihtoehto on shift+tab, joka näyttää doc-stringin

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

In [4]:
!which python

/Users/jarijokela/anaconda3/bin/python

## 6.41. Functions in Python

In [5]:
def name_function(name='NAME'):
    """
    DOCSTRING: INFORMATION ABOUT THE FUNCTION
    INPUT: No input
    OUTPUT: Hello
    """
    print('Hello ' + name)

In [6]:
name_function()

Hello NAME

In [7]:
help(name_function) # Tästä ilmenee miten tärkeä docstring on koodin dokumentoinnissa!!!

Help on function name_function in module __main__:

name_function(name='NAME')
    DOCSTRING: INFORMATION ABOUT THE FUNCTION
    INPUT: No input
    OUTPUT: Hello

In [8]:
name_function('Jallu')

Hello Jallu

In [9]:
result = name_function('Jallu')

Hello Jallu

In [10]:
# Print funktio on None type koska se ei palauta mitään:
type(result)

NoneType

In [11]:
# Tämä palauttaa:
def add(n1,n2):
    return n1+n2

In [13]:
result1 = add(20,100)
result1

120

HUOM: FUNKTIOIDEN TEHTÄVÄ ON POHJIMMILTAAN RATKAISTA ONGELMIA. ESIM.:

In [14]:
# Tämä on aloittelijamainen koska in-lause on jo boolean. Etsi sanaa "dog" stringistä:
def dog_check(s):
    if 'dog' in s.lower():
        return True
    else:
        return False

In [15]:
dog_check('Dog ran away')

True

In [16]:
'dog' in 'dog run away'

True

In [17]:
# Yksinkertaistettu versio ylläolevasta:

def dogshortcheck(s):
    return 'dog' in s.lower()

In [18]:
dogshortcheck('Dog ran away')

True

In [19]:
def pig_latin(word):
    
    first_letter = word[0]
    
    # Check if 1st letter vowel
    if first_letter in 'aeiou':
        pig_word = word + 'ay'
    # Check if 1st letter consonant
    else:
        pig_word = word[1:] + first_letter + 'ay'
    
    return pig_word

In [20]:
pig_latin('jari')

'arijay'

In [21]:
pig_latin('apple')

'appleay'

## 6.43. *args and **kwargs in Python

In [1]:
# Positional arguments: a=40 ja b=60, joka tarvitsee yhtä monta parametria kuin syötettä:
def myfunc(a,b):
    # Returns 5% of the sum of a and b
    return sum((a,b)) * 0.05

In [3]:
myfunc(40,50)

4.5

In [4]:
# *args:ia parametrinä käytettäessä voi käyttää loputtomasti parametrejä funktiolle:

def myfunk(*args):
    return sum(args) * 0.05

In [6]:
myfunk(40, 60, 100, 100, 1, 4, 6, 90, 76)

23.85

In [7]:
# *args on käytännössä tuple
def myfuk(*args):
    print(args)

In [8]:
myfuk(40, 60, 100, 100, 1, 34)

(40, 60, 100, 100, 1, 34)

In [9]:
def myfu(*args):
    for item in args:
        print(item)

In [10]:
myfu(40, 60, 100, 100, 1, 34)

40
60
100
100
1
34

In [2]:
# **kwargs rakentaa parametriksi dictionaryn key-value-pareista:
def mykwfunc(**kwargs):
    print(kwargs)
    if 'fruit' in kwargs:
        print('My fruit of choice is {}'.format(kwargs['fruit']))
    else:
        print('I did not find any fruit in here')

In [3]:
# Tästä seuraa seuraavaa:
mykwfunc(fruit='orange', veggie='lettuce')

{'fruit': 'orange', 'veggie': 'lettuce'}
My fruit of choice is orange

In [6]:
# Voi myös käyttää parametrina sekä *args että **kwargs:
def mykwa(*args, **kwargs):
    print(args)
    print(kwargs)
    print('I would like {} {}'.format(args[1], kwargs['fruit']))

In [7]:
mykwa(10,20,30, fruit='apple', food='eggs', animal='tiger')

(10, 20, 30)
{'fruit': 'apple', 'food': 'eggs', 'animal': 'tiger'}
I would like 20 apple

In [8]:
tu = (1, 2, 3, 4)

In [9]:
l = list(tu)

In [10]:
l

[1, 2, 3, 4]

In [11]:
def my(*args):
    l = []
    for item in args:
        if item%2 == 0:
            l.append(item) # Huomaa että tämä lista on funktion lokaali
    return l

In [12]:
my(1,2,3,4)

[2, 4]

In [13]:
l # Huomaa että tämä lista on globaali johon funktion lokaali ei vaikuta

[1, 2, 3, 4]

In [14]:
st = 'nomorjes'

In [15]:
ust = st.upper()

In [16]:
ust

'NOMORJES'

In [19]:
st[::2].upper()

'NMRE'

In [20]:
def myfuncch(s):
    ret = ""
    i = False
    for char in s:
        if i:
            ret += char.upper()
        else:
            ret += char.lower()
        if char != ' ':
            i = not i
    return ret

In [21]:
myfuncch(st)

'nOmOrJeS'

## 6.44. Function Practice Exercises

### Function Practice Exercises

Problems are arranged in increasing difficulty:

- Warmup - these can be solved using basic comparisons and methods
- Level 1 - these may involve if/then conditional statements and simple methods
- Level 2 - these may require iterating over sequences, usually with some kind of loop
- Challenging - these will take some creativity to solve

### WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd

lesser_of_two_evens(2,4) --> 2
lesser_of_two_evens(2,5) --> 5

In [1]:
def lesser_of_two_evens(a,b):
    if a%2 == 0 and b%2 == 0: # Tsekkaa onko luvut parillisia
        if a < b: # Tsekkaa kumpi numeroista on suurempi ja palauttaa pienemmän.
            return a
        if a > b:
            return b 
    if a%2 != 0 or b%2 != 0: # Tsekkaa onko luvut parittomia
        if a < b:            # Tsekkaa kumpi numeroista on suurempi ja palauttaa suuremman.
            return b
        if a > b:
            return a

In [2]:
# Malli suoritus:
def lesser_of_two_evens1(a,b): 
    if a%2 == 0 and b%2 == 0: # Tsekkaa onko luvut parillisia, jos ovat
        return min(a,b)       # ... palauttaa pienemmän
    else:                     # ,muuten (luvut parittomia), 
        return max(a,b)       # ... palauttaa suuremman.

In [3]:
lesser_of_two_evens(2,6)

2

In [4]:
lesser_of_two_evens(2,7)

7

In [5]:
lesser_of_two_evens1(2,6)

2

In [6]:
lesser_of_two_evens1(2,7)

7

#### ANIMAL CRACKERS: Write a function that takes a two-word string and returns True if both words begin with same letter

animal_crackers('Levelheaded Llama') --> True

animal_crackers('Crazy Kangaroo') --> False

In [7]:
def animal_crackers(s):
    first = s[0]           # Määritetään muuttujan first ekan sanan ekalle kirjaimelle
    second = s.find(' ')+1 # Määritetään muuttujan second toisen sanan ekalle kirjaimelle
    if first == s[second]: # Tsekkaa onko ekan ja toisen sanan eka kirjain sama
        return True        # Tämä loppuosa on turha koska == on boolean:
    else:
        return False

In [15]:
# Malli suoritus:
def animal_crackers1(text):
    wordlist = text.lower().split() # Funktion parametrina annettu sanapari jaetaan 2 strn listaksi välilyönnin kohdasta.
    return wordlist[0][0] == wordlist[1][0] # Verrataan wordlist-listan 1 ja 2 stringin ensimmäisiä merkkejä.

In [16]:
animal_crackers1('Crazy Kangaroo')

False

In [17]:
animal_crackers('Levelheaded Llama')

True

In [18]:
wordlist = 'Crazy Kangaroo'.lower().split()

In [19]:
wordlist

['crazy', 'kangaroo']

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False

makes_twenty(20,10) --> True

makes_twenty(12,8) --> True

makes_twenty(2,3) --> False

In [20]:
def makes_twenty(a,b):
    if a+b == 20 or a == 20: # Tsekkaa onko summa tai toinen kok. luku 20
        return True
    elif b == 20 or a+b == 20: # Tsekkaa onko summa tai toinen kok. luku 20
        return True
    else:                      # Muuten, jos ei niin palauttaa False
        return False

In [21]:
# Mallisuoritus:
def makes_twenty1(a,b):           # Huomaa: Ei tarvi ehtol. koska == on boolean!
    return (a + b) == 20 or a == 20 or b == 20
"""Tämä lause palauttaa True, jos a + b on 20 tai jos a tai b on 20"""

'Tämä lause palauttaa True, jos a + b on 20 tai jos a tai b on 20'

In [22]:
makes_twenty1(10,20)

True

In [23]:
makes_twenty(12,8)

True

In [24]:
makes_twenty1(2,3)

False

### LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name

old_macdonald('macdonald') --> MacDonald

Note: 'macdonald'.capitalize() returns 'Macdonald'

In [25]:
def old_macdonald(name):
    firstfourth = name[0].upper() + name[1:3] + name[3].upper() + name[4:]
    return firstfourth # upper-metodi muuttaa isoiksi 1 ja 4 ja slaisaukset välissä

In [26]:
# Malli suoritus:
def old_macdonald1(name):
    return name[:3].capitalize() + name[3:].capitalize()
# Upperin sijaan käytetään capitalize-metodia, joka laittaa isoksi slaisatun str:n ekan ja slicet yhdistetään.

In [28]:
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

master_yoda('I am home') --> 'home am I'
master_yoda('We are ready') --> 'ready are We'

Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:
>>> "--".join(['a','b','c'])
>>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:
>>> " ".join(['Hello','world'])
>>> "Hello world"

In [44]:
v= 'uttiv'.split()

In [45]:
print(v)

['uttiv']

In [46]:
def master_yoda(sentence):
    words = sentence.split()
    return " ".join(reversed(words))

In [50]:
# Mallisuoritus:
def master_yoda1(sentence):
    words = sentence.split()
    return " ".join(reversed(words)) # reversed kääntää listan stringien järjestyksen

In [51]:
master_yoda('Hyvää päivä ja jees')

'jees ja päivä Hyvää'

In [52]:
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

almost_there(90) --> True

almost_there(104) --> True

almost_there(150) --> False

almost_there(209) --> True

NOTE: abs(num) returns the absolute value of a number

In [53]:
def almost_there(num):
    if abs(100 - abs(num)) <= 10 or abs(200 - abs(num)) <= 10:
        return True
    else:
        return False

In [55]:
# Mallisuoritus:
def almost_there1(num):
    return (abs(100 - num) <= 10) or (abs(200 - num) <= 10)

In [56]:
almost_there1(209)

True

In [54]:
almost_there(104)

True

In [57]:
almost_there(150)

False

### LEVEL 2 PROBLEMS

#### FIND 33:

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

has_33([1, 3, 3]) → True

has_33([1, 3, 1, 3]) → False

has_33([3, 1, 3]) → False

In [1]:
# Mallisuoritus:
def has_33(nums):
    """Listan iterointi toiseksi viimeiseen lukuun.
    Jolloin tsekataan onko jokainen luku [i] ja sitä seuraava
    luku samoja ja palautetaan True"""
    for i in range(0, len(nums)-1):
        if nums[i] == 3 and nums[i+1] == 3:
            return True
# Huomaa että return False ei voi olla samassa blokissa.
    return False

In [3]:
has_33([1, 3, 3])

True

In [6]:
has_33([1, 3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters

paper_doll('Hello') --> 'HHHeeellllllooo'

paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [7]:
# Mallisuoritus:
def paper_doll(text):
    result = ''
    # Jokainen char textissä loopataan ja loopissa x 3 ja siten luodaan result-string:
    for char in text:
        result += char * 3
    return result

In [9]:
paper_doll('No Terve!')

'NNNooo   TTTeeerrrvvveee!!!'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'

blackjack(5,6,7) --> 18

blackjack(9,9,9) --> 'BUST'

blackjack(9,9,11) --> 19

In [10]:
def blackjack(a,b,c):
    # Täytetään ensimmäinen ehto:
    if sum([a, b, c]) <= 21:
        return sum([a,b,c])
    # Toinen ehto:
    elif 11 in [a,b,c] and sum([a,b,c]) - 10 <= 21:
        return sum([a,b,c]) - 10
    else:
        return "Bust"

In [11]:
blackjack(5,6,7)

18

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.

summer_69([1, 3, 5]) --> 9

summer_69([4, 5, 6, 7, 8, 9]) --> 9

summer_69([2, 1, 6, 9, 11]) --> 14

In [12]:
def summer_69(arr):
    total = 0
    add = True
    
    for num in arr:
        while add:
            if num != 6:
                total += num
                break
            else:
                add = False
        while not add:
            if num != 9:
                break
            else:
                add = True
                break
    return total

In [14]:
summer_69([4, 5, 6, 7, 8, 9, 10])

19

### CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

 spy_game([1,2,4,0,0,7,5]) --> True
 
 spy_game([1,0,2,4,0,5,7]) --> True
 
 spy_game([1,7,2,0,4,5,0]) --> False

In [1]:
def spy_game(nums):
    code = [0, 0, 7, 'x']
    # [0,7,'x']
    # [7, 'x']
    # ['x'] length=1
    for num in nums:
        if num == code[0]:
            code.pop(0)
    return len(code) == 1

In [2]:
spy_game([1,2,4,0,0,7,5])

True

In [5]:
spy_game([1,0,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the number of prime numbers that exist up to and including a given number

count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [6]:
def count_primes(num):
    # Check for 0 and 1:
    if num < 2:
        return 0
    # Store the prime numbers
    primes = [2]
    # Counter going up to the input num
    x = 3
    
    while x <= num:
        # Check if x is prime
        for y in primes:
            if x%y == 0:
                x += 2
                break
        else:
            primes.append(x)
            x += 2
    print(primes)
    return len(primes)

In [7]:
count_primes(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

### Just for fun:

#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
print_big('a')

out:   *  
      * *
     *****
     *   *
     *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. 
For purposes of this exercise, it's ok if your dictionary stops at "E".

## 6.49. Lambda Expressions Map and Filter

In [8]:
def square(num):
    return num**2

In [10]:
my_nums = [1, 2, 3, 4, 5, 10]

In [11]:
for item in map(square, my_nums): # Mappia käytetään funktion käyttämiseen lista iterointiin
    print(item)

1
4
9
16
25
100

In [12]:
list(map(square, my_nums)) # ja listan luontiin funktiolla ja listalla

[1, 4, 9, 16, 25, 100]

In [13]:
def splicer(mystring):
    if len(mystring)%2 == 0:
        return 'EVEN'
    else:
        return mystring[0]

In [15]:
names = ['Andy', 'Eve', 'Sally']

In [15]:
list(map(splicer, names))

['EVEN', 'E', 'S']

In [16]:
def check_even(num):
    return num%2 == 0

In [9]:
mynums = [1,2,3,4,5,6,7,8]

In [19]:
list(filter(check_even, mynums))

[2, 4, 6, 8]

In [20]:
for n in filter(check_even, mynums):
    print(n)

2
4
6
8

### Lambda expression:

In [1]:
def square(num):
    result = num**2
    return result

In [2]:
def square(num): 
    return num**2

In [3]:
def square(num): return num**2

In [4]:
square(8)

64

Lambda = Nimetön funktio, joten nimi pois defistä:

In [5]:
x2 = lambda num: num**2

In [6]:
x2(8)

64

Lambdaa kannattaa käyttää yhdessä map()-funktion kanssa, jolloin ei tarvi luoda defiä mapin käyttöön. Tässä luodaan lista:

In [10]:
list(map(lambda num: num**2, mynums))

[1, 4, 9, 16, 25, 36, 49, 64]

In [11]:
def check_even(num):
    return num%2 == 0

Muuta yllä oleva def lambdaksi:

In [12]:
lambda num: num%2 == 0

Lambdaa kannattaa myös käyttää filter():n kanssa. Tässä luodaan filter-lista yllä olevasta lambdasta, joka suodattaa tasaluvut:

In [13]:
list(filter(lambda num: num%2 == 0, mynums))

[2, 4, 6, 8]

In [16]:
names

['Andy', 'Eve', 'Sally']

In [17]:
list(map(lambda x: x[0], names))

['A', 'E', 'S']

In [18]:
list(map(lambda x: x[::-1], names))

['ydnA', 'evE', 'yllaS']

## 6.50. Nested Statements and Scope

In [19]:
x = 25

def printer():
    x = 50
    return x

In [20]:
print(x)

25

In [21]:
print(printer())

50

**LEGB Rule, eli missä järjestyksessä Python hakee muuttujaa:**

L: Local — Names assigned in any way within a function (def or lambda)), and not declared global in that function.

E: Enclosing function locals — Name in the local scope of any and all enclosing functions (def or lambda), from inner to outer.

G: Global (module) — Names assigned at the top-level of a module file, or declared global in a def within the file.

B: Built-in (Python) — Names preassigned in the built-in names module : open,range,SyntaxError,...

In [22]:
# Esimerkki lokaalista:
# lambda num: num**2

In [23]:
# Esimerkki enclosing function lokaalista:
# GLOBAALI:
name = "This is a global string"

def greet():
    # ENCLOSING:
    name = 'Jari'
    def hello():
        # LOKAALI:
        name = 'Paikallinen'
        print('Hello ' + name)
        
    hello()
    
greet()

Hello Paikallinen

#### HUOM: Mikäli globaalia namea halutaan käyttää defin sisällä, pitää julkistaa defin sisällä "global name"!!!

## 7.51. First Python Milestone project Overview

#### Ohjeita videolta:

- 2 pelaajaa samalla tietokoneella => Vuoro inputit
- Ruudukko luodaan uudestaan joka siirron jälkeen
- Workbook on sitä varten että käyt läpi yksittäiset ongelmat ja luot funktiot yksitellen
- Numpad vastaamaan numeroita pelissä [[1,2,3], [4,5,6], [7,8,9]]
- Kysy käyttäjältä: "Mihin haluaisit sijoittaa numeron?"
- Näytä vuorossaolevalle käyttäjälle tictactoe-laudan josta voi valita mihin sijoittaa x:n
- Seuraava käyttäjä voi valita mihin sijoittaa o:n.
- Pelin ohjelma ratkaisee kumpi on voittaja

#### Ohjelman rakenne:

- Printtaa "Welcome to Tic Tac Toe!"
- Ensimmäinen syöte pyydetään: input("Player 1: Do you want to be X or O?"
- Jos input on X => "Player 1 will go first." "Are you ready to play? Enter Yes or No."
- Yes-vastaus käynnistää while-loopin jolloin peli alkaa pyörimään. Pelilauta printattuna
- Pelilauta toutetaan print-komennolla. numeropaikka on varattu aaltosulkeilla, joka on 
"Index position of some list".
- Input('Choose your next position: (1-9)')
- Assignment-notebookissa tehtävän anto
- Walkthrough steps notebookissa, jossa projekti jaettu steppeihin.

In [24]:
# For using the same code in either Python 2 or 3
from __future__ import print_function 

## Note: Python 2 users, use raw_input() to get player input. Python 3 users, use input()

In [25]:
from IPython.display import clear_output
def display_board(board):
    """Funktio printtaa board-nimisen 10-itemisen lista,
    joka annetaan funktiolle kutsuttaessa parametrina.
    Board-lista on 10 stringin lista(ignore index 0)"""
    clear_output()
    print(board[7] + '|' + board[8] + '|' + board[9]) # Tulostaa listan paikkaan 7, 8 ja 9 pystyväliviivat
    print('-+-+-') # Printtaa väliviivat ja ruudukon pystyväliviivojen kohtaan
    print(board[4] + '|' + board[5] + '|' + board[6])
    print('-+-+-')
    print(board[1] + '|' + board[2] + '|' + board[3])

In [30]:
# Testaan boardin. Huomaa että board-listan indeksi nollaa ei käytetä. Tässä lista joka tuottaa tyhjän boardin:
display_board([' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' '])

 | |
-+-+-
 | |
-+-+-
 | |

In [31]:
# Yksi voittavista listoista:
display_board([' ', 'O', ' ', ' ', 'X', 'O', ' ', 'X', 'X', 'O'])

X|X|O
-+-+-
X|O|
-+-+-
O| |

In [32]:
def player_input():
    """Ensimmäinen syöte pyydetään: input("Player 1: Do you want to be X or O?")
    Jos input on X => "Player 1 will go first." 'Are you ready to play? Enter Yes or No.' """
    # Returns a list with the player's letter as the first item and the 2nd players letter as the 2nd index.
    marker = ''
    while not (marker == 'X' or marker == 'O'):
        marker = input("Player 1: Do you want to be X or O?").upper()
        if marker == 'X':
            return ['X', 'O']
        else:
            return ['O', 'X']

In [40]:
# Tämä funktio sijoittaa tuotetun marker-muuttujan sisältämät siirrot board-listaan ja siten pelilautaan
# haluttuun paikkaan joka ilmaistaan position-muuttujalla (1-9)
def place_marker(board, marker,position):
    board[position] = marker

In [33]:
# Tällä tsekataan onko annettu siirto voittava. Ts. tähän on jäsennetty kaikki voittavat yhdistelmät.
def win_check(board,mark):
    # Winning combination across the top:
    return((board[7] == mark and board[8] == mark and board[9] == mark) or 
    # across the middle:
    (board[4] == mark and board[5] == mark and board[6] == mark) or 
    # across the bottom:
    (board[1] == mark and board[2] == mark and board[3] == mark) or 
    # down the left side:
    (board[7] == mark and board[4] == mark and board[1] == mark) or 
    # down the middle:
    (board[8] == mark and board[5] == mark and board[2] == mark) or 
    # down the right side:
    (board[9] == mark and board[6] == mark and board[3] == mark) or 
    # diagonal:
    (board[1] == mark and board[5] == mark and board[9] == mark) or 
    # the other diagonal:
    (board[3] == mark and board[5] == mark and board[7] == mark))

In [34]:
# Tämä funktio määrittää kuka pelaajista aloittaa ensin:
import random
def choose_first():
    if random.randint(0, 1) == 0:
        return 'Player 2'
    else:
        return 'Player 1'

In [35]:
# Tämä funktio palauttaa boolean arvon jos paikka pelilaudassa on tyhjä:
def space_check(board, position):
    
    return board[position] == ' '

In [36]:
# Tämä funktio tsekkaa onko pelilauta täynnä palauttaa True jos on:
def full_board_check(board):
    for i in range(1, 10):
        if space_check(board, i):
            return False
    return True

In [37]:
# Tämä funktio pyytää pelaajalta seuraavaa siirtoa ja tsekkaa on valinta vapaa. Funktio palauttaa pelaajan valinnan:
def player_choice(board):
    position = ' '
    while position not in '1 2 3 4 5 6 7 8 9'.split() or not space_check(board, int(position)):
        position = input('Choose your next position: (1 - 9) ')
    return int(position)

In [38]:
# Tämä funktio kysyy pelaajalta haluatko pelata uudestaan ja palauttaa Trie jos kyllä:

def replay():
        return input('Do you want to play again? Enter yes or no: ').lower().startswith('y')

In [41]:
print('Welcome to Tic Tac Toe!')

while True:
    # Reset the board:
    theBoard = [' '] * 10
    player1_marker, player2_marker = player_input()
    turn = choose_first()
    print(turn + ' will go first.')
    game_on = True
    
    while game_on:
        if turn == 'Player 1':
            
            display_board(theBoard)
            position = player_choice(theBoard)
            place_marker(theBoard, player1_marker, position)
            
            if win_check(theBoard, player1_marker):
                display_board(theBoard)
                print('Congratulations! You have won the game!')
                game_on = False
            else:
                if full_board_check(theBoard):
                    display_board(theBoard)
                    print('Game is a draw!')
                    break
                else:
                    turn = 'Player 2'
                    
        else:
            # Player2's turn.
            
            display_board(theBoard)
            position = player_choice(theBoard)
            place_marker(theBoard, player2_marker, position)
            
            if win_check(theBoard, player2_marker):
                display_board(theBoard)
                print('Congratulations! Player 2 has won the game!')
                game_on = False
            else:
                if full_board_check(theBoard):
                    display_board(theBoard)
                    print('Game is a tie!')
                    break
                else:
                    turn = 'Player 1'
        
            
            

    if not replay():
        break

 |X|O
-+-+-
X|O|
-+-+-
O| |
Congratulations! Player 2 has won the game!

Do you want to play again? Enter yes or no:  n